/* styles.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

nav {
    background-color: #f4f4f4;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

main {
    margin: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

/* Дополнительные стили для index.html */
.hero {
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    font-size: 2rem;
}

.hero h1 {
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.feature .icon {
    font-size: 3rem;
    margin-right: 20px;
}

.feature .content {
    text-align: center;
}

.feature h2 {
    margin-bottom: 10px;
}

.feature p {
    color: #888;
}
