<!DOCTYPE html>
<html>
<head>
    <title>Часто задаваемые вопросы - Строительная компания "Самрат Строй"</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Часто задаваемые вопросы</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Главная</a></li>
            <li><a href="{{ url_for('about') }}">О Нас</a></li>
            <li><a href="{{ url_for('faq') }}">Часто задаваемые вопросы</a></li>
            <li><a href="{{ url_for('contact') }}">Контакты</a></li>
        </ul>
    </nav>

    <main>
        <h2>Некоторые часто задаваемые вопросы</h2>
        <ul>
            <li>Вопрос: "Какие услуги предоставляет ваша строительная компания?"</li>
            <li>Ответ: Наша строительная компания предоставляет широкий спектр услуг, включающий:<br>

                -Строительство жилых и коммерческих зданий<br>
                -Ремонт и реконструкцию существующих строений<br>
                -Проектирование и строительство инженерных систем (электричество, водоснабжение, отопление и вентиляция)<br>
                -Ландшафтный дизайн и благоустройство территорий<br>
                -Консультационные услуги по планированию и разработке проектов</li><br>
            <li>Вопрос: "Какова процедура получения разрешений и лицензий для строительства?"</li>
            <li>Ответ: Для выполнения строительных работ нами соблюдаются все необходимые процедуры получения <br>
                 разрешений и лицензий. Мы тесно сотрудничаем с местными органами власти и следуем строительным<br>
                 нормам и правилам. Наша компания обладает соответствующими лицензиями, которые позволяют <br>
                 нам осуществлять строительство и ремонт в соответствии с требованиями закона.</li><br>
            <li>Вопрос: "Каковы сроки выполнения строительных работ?"</li>
            <li>Ответ: Сроки выполнения строительных работ зависят от различных факторов, таких как размер<br>
                 и сложность проекта, доступность ресурсов, погодные условия и другие. При начале проекта <br>
                 мы разрабатываем детальный график работ, который включает в себя этапы проектирования,<br>
                 подготовительные работы, строительство и завершение проекта. Мы всегда стараемся соблюдать<br>
                 сроки и обеспечивать высокое качество работ, чтобы удовлетворить потребности и ожидания наших <br>
                 клиентов.</li>
        </ul>
        <br>
        <form action="">
            <input style="width: 500px; height: 100px;"type="text" placeholder="Задайте свой вопрос здесь."><br><br>
            <input type="button" value="Отправить!">
        </form>
    </main>

    <footer>
        <p>&copy; 2023 Строительная компания "Самрат Строй"</p>
    </footer>
</body>
</html>
